<h1>Livros</h1>
<hr>
<ol>
    <li *ngFor="let livro of livros">
        <p>
            {{livro.nome}} - <em>{{livro.autor}}</em>
        </p>

        <p *ngIf="livro.preco || livro.publicacao">
            <strong *ngIf="livro.preco">
                Preço:{{livro.preco | currency: 'R$'}}
            </strong>

            <span *ngIf="livro.preco && livro.publicacao"> - </span>
            
            <em *ngIf="livro.publicacao">
                Data de publicação:{{livro.publicacao | date: 'dd/MM/yy'}}
            </em>
        </p>
    </li>
</ol>